.social {
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
}
.navbar{
    background-color: #660066 !important;
    position: sticky;
}
.nav-link{
    color: white !important;
    font-weight: bolder;
}
.nav-link:hover{
    background-color: purple !important;
    border-radius: 45% 45% !important;
}
.fa-shopping-cart,.fa-user{
    color: white !important;
    font-size: 40px !important;
    cursor: pointer;
}
.carousel-item{
    height: auto !important;
}
.fa-truck,.fa-globe,.fa-headphones{
    font-size: 50px !important;
    margin-right: 20px !important;
}
.fa-check{
    color: red;
    font-size: 50px !important;
    margin-right: 20px !important;
}
.cart1,.cart2,.cart3{
    display: flex;
    width: 400px;
    height: 100px;
    box-shadow: 2px 4px 5px grey;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.cart5{
    display: flex;
    width: 650px;
    height: 50px;
    background-color: white;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    color: #25272e;
    background-color: plum;
}
.star{
    margin-top: 10px;
    
}
.cart6{ width: 400px;
        height: 200px;
        border: solid;
        background-color: white;
       
        align-items: center;
        margin-top: 10px;
        cursor: pointer;
        color: black;   
}
.h6{
    margin-top: 30px;
}
.sm2{
    color: #bbb;
}
.maincart2{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: plum;
}
.maincart{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    color: #660066
}
.maincart1{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    color: #660066
}
.cart4{
    display: flex;
    width: 15px;
    height: 30px;
    box-shadow: 2px 4px 5px grey;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 50px;

}
.img2{
    width: 900%;
}
small{
    font-size: 15px;
    margin-left: 15px;
    color:#990000;
    font-weight: bold;
}
.heading{
    text-align: center;
    font-weight: bold;
}
.heading > h1{
    text-shadow: 2px 2px 4px grey;
}
.NewArrivals{
    margin-top: 50px;
    color: #660066;
}
.card{
    width: 250px;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.card-img-top{
    height: 250px;
}
.card-text{
    color: red;
    font-weight: bold;
}
.btn-primary{
    width: 100%;
    background-color: #990000;
    border: black;
}
.btn-primary:hover{
    background-color: #660066 !important;
}


.con1 {
    background-color: #25272e;
    height: 200px;
}

.con2 {
    background-color: #25272e;
    height: 250px;
    margin-left: 20px;
    margin-right: 50px;
}

.con3 {
    background-color: #660066;
    height: 50px;
}

.con4 {
    color: white;
    margin-left: 100px;
    padding-top: 21px;
    font-size: 11px;
    font-family: sans-serif;
}


.th3 {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    color: #bbb;
    text-align: start;
    width: 100%;
}
.fa,.fa-whatsapp{
    display: flex;
    /* padding: 15px; */
    /* text-rendering: auto; */
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 0px;
    border-radius: 50%;
    /* margin: 2px 7px 2px 0; */
}

.p2 {
    color: white;
    font-style: bold;
}
.p3{
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: center;
    color: #25272e;
}
.p4{
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.header{
    background-color: #F9F3F2;
    color: black;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
.fa-facebook,.fa-whatsapp {
    background: #316DC3;
    color: white;
    padding: 6px;
}
.fa-github {
    background: #316DC3;
    color: white;
    padding: 6px;
}

.fa-instagram {
    background: #316DC3;
    color: white;
    padding: 6px;
}

.column1 {
    float: left;
    width: 25%;
    padding: 0px;

}
.right{
    margin-top: 30px;
    text-align: center;
    float: right;
}
.img1{
    width: 650px;
    height: 250px;
    cursor: pointer;
}

.img3{
    width: 90%;
    height: 300px;
    cursor: pointer;
    justify-content: space-between;
    margin-left: 40px;
}


.h1{
    font-size: 37px;
    font-weight: bold;
    color: #660066;
    text-shadow: 2px 2px 4px grey;
}
.h3{
    font-size: 37px;
    font-weight: bold;
    color: #660066;
    text-shadow: 2px 2px 4px grey;
    text-align: center;
}
h4{
    font-weight: bold;
    color: #660066;
}
.h5{
    font-size: 37px;
    font-weight: bold;
    color: #660066;
    text-shadow: 2px 2px 4px grey;
    text-align: center;
}
.h6{
    font-size: 30px;
    color: #660066;
    text-align: left;
    font-family: 'Courier New', Courier, monospace  ;
    margin-left: 20px;
}
.h7{
    margin-left: 10px;
    font-size: 20px;
    color: #660066;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown-item:hover{
    background-color: #660066 !important;
    color: white !important;
}
/* .black{
    width: 700px;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.white{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}
.sp{
    width: 100%;
} */
.black{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.one{
    width: 400px;    margin-top: 50px;
    margin-top: 10px;
    
}
.two{
    width: 400px;    
    margin-top: 10px;
    margin-left: 10px;
}
.float-left{
    margin-right: 90px;
}
.map{
    margin-left: 200px;
    margin-top: 100px;
}
iframe{
    width: 1000px;
}
.Contact{
    text-align: center;
    border: solid;
    margin-top: 50px;
}
.page{
    color: white;
}
.terms{
    
    text-align: center;
    justify-content: center;
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.term{
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    width: 300px;
    height: 80px;
}
.img10,.img11,.img12{
    width: 350px;
    margin-left: 50px;
}


































@media screen and (max-width: 600px) {
    .cart1,.cart2,.cart3,.con2 {
      width: 90%;
    }
  }
@media screen and (max-width: 600px) {
    .card{
        width: fit-content;
    }
  }
  @media screen and (max-width: 600px) {
    .con2 {
      width: 80%;
    }
  }

  @media screen and (max-width: 600px) {
    .con1 {
      height: 150%;
      width: 100%;
    }
  }
  @media screen and (max-width: 1300px) {
    .one,.two {      
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
  }
  @media screen and (max-width: 1300px) {
    .img1,.con1 {      width: 100%;
        height: 100%;
    }
  }
  
  @media screen and (max-width: 1300px) {
    .black{      
        border: solid;
    }
  }
  @media screen and (max-width: 800px) {
          
.cart4,.h3
    {
        visibility: hidden;
    } 
}
@media screen and (max-width: 1200px) {
    iframe{
      height: 400px;
      width: 90%;
    }
  }
  @media screen and (max-width: 1200px) 
  {
  .img10,.img11,.img12{
      width: 100px;
      margin-left: 50px;
  }
  }

  